<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<h1>Chat</h1>
<div class="bd">
  <div class="chat-container">
    <div class="chat-header">
      <div class="logo">
        <i class="far fa-comments"></i>
        <h3>Messenger</h3>
      </div>
      <p id="your-name">Your name</p>
    </div>
    {{!-- ------------------------------ --}}
    <div class="chat-section">
      <div class="main-wrapper">
        <div class="chat-content">
          <div class="message">
            <div class="message-row other-message">
              {{!-- <div class="message-title">
                🗨️<span>Менеджер</span>
              </div>
              <div class="message-text">
                Hello
              </div>
              <div class="message-time">
                28 Апреля
              </div> --}}
            </div>
            <div class="message-row you-message">
              {{!-- <div class="message-title">
                🗨️<span>Пользователь</span>
              </div>
              <div class="message-text">
                Ok
              </div>
              <div class="message-time">
                28 Апреля
              </div> --}}
            </div>
          </div>
        </div>
        {{!-- ---------------------------------- --}}
        <form class="msg-tex">
          <input type="text" name="msg" id="msg" placeholder="Type Message here..." autocapitalize="off">
          <button id="btn-send">
            <i class="fas fa-paper-plane">Send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

  <script defer src="/js/socket.js"></script>
  {{!-- <script src="/socket.io/socket.io.js"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>





{{!-- script(src='/javascripts/socket.io-1.2.0.js')
script.
    var socket = io.connect( "http://localhost:8080"); --}}
