{{!-- <script defer src="js/modal.js"></script> --}}





<h1 class="visually-hidden">Main page</h1>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма авторизации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 
        <form id="formLogin">
          <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="login">Войти</button>
          </div>
        </form>
        <span>или <a href="#" data-bs-dismiss="modal" id="registrationModal">Зарегистрироваться</a></span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма регистрации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 

        <form id="formLogin2">

          <div class="mb-3">
            <label for="inputUsernameRegistr" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsernameRegistr" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputEmail1Registr" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1Registr" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1Registr" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1Registr">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="registration">Зарегистрироваться</button>
          </div>
        </form>
        <span>Есть аккаунт? <a href="#" data-bs-dismiss="modal" id="getModal2">Войти</a></span>
      </div>
    </div>
  </div>
</div>

<section class="info">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title visually-hidden">Info</h2>
                </header>
                <div class="info-wrapper">
                    <div class="info-text-column">
                        <h2 class="info-title">Наши лучшие специалисты помогут</h2>
                        <p class="info-text">
                          Если справиться с поставленной задачей по каким-либо причинам проблематично, то в компании Take5 можно недорого купить на заказ курсовую по проекту любой дисциплины. В нашем штате трудятся специалисты с большим практическим опытом в данной сфере.
У нас можно онлайн заказать выполнение любой степени сложности, каждый проект будет уникальным.
                        </p>
                        
                        <a class="btn btn-outline-dark" href="#" role="button">Узнать стоимость</a>
                    </div>
                    <div class="info-img-column">
                        <img src="/img/blackboard.jpg" width="700" height="462" alt="Сделать заказ">
                    </div>
                </div>
            </div>
        </section>


        <section class='advantages'>
            <h2 class='visually-hidden'>Преимущества</h2>
            <ul class='advantages-list'>
                <li class='advantages-item'>
                    <img src="https://img.icons8.com/wired/64/000000/double-tick.png"/>
                    <h3>Быстро</h3>
                    <p>Мы делаем свою работу быстро! Мы делаем свою работу быстро! Мы делаем свою работу быстро!</p>
                </li>
                <li class='advantages-item'>
                    <img src="https://img.icons8.com/wired/64/000000/good-quality.png"/>
                    <h3>Качественно</h3>
                    <p>Мы выполним заказ качественно! Мы выполним заказ качественно! Мы выполним заказ качественно!</p>
                </li>
                <li class='advantages-item'>
                  <img src="https://img.icons8.com/wired/64/000000/time-span.png"/>
                    <h3>Срочно</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt ab sunt provident voluptas ea</p>
                </li>
            </ul>
        </section>
        

<div class="container">
    <h2 id="address">Контакты</h2>
  <div class="address">
    <div class="adress-info">
      <p class="phone">
            <a class="main-map-link" href="tel:88123070000">8 (812) 307-00-00</a> <br>
            <a class="main-map-link" href="mailto:info@take5.ru">info@take5.ru</a>
      </p>
      <p class="adr"></p>
      <ul class="schedule">
        <li class="schedule-item">Пн 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Вт 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Ср 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Чт 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Пт 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Сб 9:00 - 21:00 без обеда</li>
        <li class="schedule-item">Вс 9:00 - 21:00 без обеда</li>
      </ul>
    </div>
    <div class="map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aad7762a4d0ec6d609fbb6b361944d79b44c6fb94ee9205739d33c566ec7580d1&amp;width=872&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    
  </div>
</div>
