{{!-- <script defer src="js/modal.js"></script> --}}





<h1>Main page</h1>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма авторизации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 
        <form id="formLogin">
          <div class="mb-3">
            <label for="inputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="login">Войти</button>
          </div>
        </form>
        <span>или <a href="#" data-bs-dismiss="modal" id="registrationModal">Зарегистрироваться</a></span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма регистрации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 

        <form id="formLogin2">

          <div class="mb-3">
            <label for="inputUsernameRegistr" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsernameRegistr" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputEmail1Registr" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1Registr" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1Registr" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1Registr">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="registration">Зарегистрироваться</button>
          </div>
        </form>
        <span>Есть аккаунт? <a href="#" data-bs-dismiss="modal" id="getModal2">Войти</a></span>
      </div>
    </div>
  </div>
</div>

<section class="news">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title">News</h2>
                    <a class="show-more" href="catalog.html">View all</a>
                </header>
                <div class="news-wrapper">
                    <div class="news-text-column">
                        <h2 class="news-title">G- Star Updates Its Sustainable Collection</h2>
                        <time class="news-time" datetime="2020-02-12 11:00">Feb 12, 2020</time>
                        <p class="news-text">G-Star Raw is pushing the sustainability movement forward with a collection of stretch denim items for spring 2020 which is particularly designed for reuse. G-Star seeks to contribute to positive change in the denim industry, by
                            using each sustainable innovation as a building block for a future. The brand has been working to recycle its jeans into new since 2012 when it released the first-ever Cradle to Cradle (C2C) Gold level-certified denim in late
                            2017.
                        </p>
                        <a class="button" href="#">Read more…</a>
                    </div>
                    <div class="news-img-column">
                        <img src="/img/blackboard.jpg" width="700" height="462" alt="Сделать заказ">
                    </div>
                </div>
            </div>
        </section>

<h2>Как нас найти</h2>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aad7762a4d0ec6d609fbb6b361944d79b44c6fb94ee9205739d33c566ec7580d1&amp;width=872&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
