{{!-- <div class="container"> --}}
<form method="POST" action="#">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="col-sm-8">
          <label for="inputType" class="label-order">Тип работы</label>
          <select id="inputType" class="form-select" name ="type">
            <option selected="" disabled="disabled" data-price="0 руб">Выберите тип работы</option>
            <option value="type0" data-price="10.000 руб.">Диплом</option>
            <option value="type1"  data-price="5.000 руб.">Курсовая</option>
            <option value="type2"  data-price="3.000 руб.">Реферат</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="inputPages" class="label-order">Кол-во страниц</label>
          <input class="form-control input-sm has-error-valid" id="inputPages" name="pages" type="text" min="1">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="row">
        <div class="col-sm-4">
          <label for="inputDeadline" class="label-order">Срок сдачи</label>
          <input type="text" id="inputDeadline" name="deadline" class="form-control input-sm" value="09.09.2021">
        </div>
        <div class="col-sm-4">
          <label for="inputSources" class="label-order">Кол-во источников</label>
          <input id="inputSources" name="sources" min="1" class="form-control input-sm" type="text">
        </div>
        <div class="col-sm-4">
          <label class="checkbox-order label-order">
              <input class="default" type="checkbox" id="foreign_sources" name="foreign_sources" value="1">
              <span class="check-label">Иностранные источники</span>
          </label>
        </div>
      </div>
    </div>
 </div>

  <div class="row">
    <div class="col-md-6 col-sm-9 col-xs-12">
        <div class="row">
            <div class="col-sm-4">
              <label for="inputOriginality" class="label-order">Оригинальность</label>
              <select id="inputOriginality" class="form-select" name ="originality">
                <option selected value="orig0">Неважно</option>
                <option value="orig1">21%-30%</option>
                <option value="orig2">31%-40%</option>
                <option value="orig3">41%-50%</option>
                <option value="orig4">51%-60%</option>
                <option value="orig5">61%-70%</option>
                <option value="orig6">71%-80%</option>
                <option value="orig7">81%-90%</option>
                <option value="orig8">91%-100%</option>
              </select>
            </div>
            <div class="col-sm-8">
                  <label for="inputPlagiat" class="label-order">Проверка</label>
                  <select id="inputPlagiat" class="form-select" name ="plagiat">
                    <option value="plag0">Проверка по eTXT</option>
                    <option selected value="plag1">Проверка по antiplagiat.ru</option>
                    <option value="plag2">Антиплагиат ВУЗ</option>
                  </select>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-3 col-xs-12 co_provider_wrap">
      <label class="checkbox-order label-order">
        <input type="checkbox" id="plagi_report" name="plagi_report" value="1">
        <span class="check-label">Отчёт о плагиате</span>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <label for="subject" class="label-order">Предмет</label>
      <input class="form-control input-sm ui-autocomplete-input" id="subject" name="subject" type="text" value="" autocomplete="off">
    </div>
    <div class="col-md-6 col-xs-12">
      <label for="topic "class="label-order">Тема</label>
      <input id="topic" name="topic" class="form-control input-sm" type="text" value="" style="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <label for="inputFont" class="label-order">Шрифт</label>
      <select id="inputFont" class="form-select" name ="font">
        <option selected value="font0">14 шрифт, полуторный интервал</option>
        <option value="font1">12 шрифт, полуторный интервал</option>
        <option value="font2">14 шрифт, одинарный интервал</option>
        <option value="font2">12 шрифт, одинарный интервал</option>
      </select>
    </div>
    <div class="col-md-6 col-xs-12">
      <label for="university" class="label-order">Вуз(необязательно)</label>
      <input class="form-control input-sm" id="university" name="university" type="text" value="">
    </div>
  </div>


  <div class="row">
      <div class="col-md-6 col-xs-12">
        <label fo="inputAuthor" class="label-order">Квалификация автора</label>
        <select id="inputAuthor" class="form-control input-sm" name="author">
            <option value="author0">Лучший доступный автор (стандартная цена)</option>
            <option value="author1">Топ-автор с высокой средней оценкой</option>
            <option value="author2">Кандидат наук</option>
            <option value="author3">Доктор наук</option>
        </select>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <label for="requirements" class="label-order">Требования(необязательно)</label>
      <textarea id="requirements" name="inputReq" class="form-control" cols="30" rows="3"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="file-choose-block">
        <p style="font-size: 14px">Вы можете прикрепить до 5 файлов размером не более 10Мб</p>
          <div class="file">
              <input id="inputFile" name="file" type="file">
          </div>
      </div>
    </div>
  </div>

  <div class="counter">
    <div class="row">
      <div class="col-md-6 col-xs-12 offset-md-3">
        <h2>Расчёт стоимости работы</h2>
        <ul class="calc">
          <li>
            <span>Минимальная стоимость</span>
            <span>1,000.00 р.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="total">
    <div class="col-md-6 col-xs-12 offset-md-3">
      <div class="total-cost">
        <span class="">Итого</span>
        <span class="">= 1,000.00 р.</span>
      </div>
      </div>
        <div class="col-md-6 col-xs-12 offset-md-3">
          <button type="submit" class="btn btn-outline-dark" id="order-btn">Заказать</button>
        </div>
      </div>
    </div>
  </div>

</form>
