.chatemplate {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-image: url(https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-512.png);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:32px;/* размер изображения равен (или меньше) размеру кнопки вызова*/
  width: 32px; /* ширина кнопки вызова */
  height: 32px; /* высота кнопки вызова */
} 
.parent_popup, 
.parent_popup_click {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.popup, 
.popup_click { 
  max-width: 500px;
  width:70%;
  margin: 5% auto;
  padding-bottom: 1px;
  position: relative;
} 
.popup_click::after {  
 position:absolute;  
 bottom:2px;  
 right:5px;   
 color:#E1E1E1;  
 font-size:8px;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -20px;
  left: -20px;
  background-image: url(//st1.chatovod.ru/i/orangebox/close.png);
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
