.order-container {
  padding: 16px 16px 16px 16px;
  border: 1px solid #dfdfeb;
  padding: 30px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-container{

}
li {
  list-style-type: none; 
 }
 ul {
  margin-left: 20px; 
  padding-left: 0; 
 }
 @media screen and (max-width:1200px){
  
}
